<!DOCTYPE html>
<html lang="en">
  <header>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Loading page</title>
  </header>
  <body>
    <div class="container">
      <div class="ring"></div>
      <div class="ring"></div>
      <div class="ring"></div>
      <p>Loading ...</p>
    </div>
  </body>
</html>

<script>
  export default {};
</script>

<style>
  .ring {
    width: 200px;
    height: 200px;
    border: 0 solid #000;
    border-radius: 50%;
    position: absolute;
  }
  .ring:nth-child(1) {
    border-bottom: 8px;
    border-color: rgb(255, 255, 255);
    animation: rotatel 2s linear infinite;
  }
</style>
